<div id="takeANoteContainer" class="container d-flex justify-content-center">
    <input id="takeANoteInput" type="text" class="form-control form-control-lg shadow rounded"
        placeholder="Take a note..." (input)="routeToCreateNote()" (click)="routeToCreateNote()" appAutoFocus>
</div>

<div id="noteContainer" class="container d-flex flex-wrap">
    <div id="noteToDisplay" class="card shadow mb-4 bg-white rounded"
        *ngFor="let note of notes">
        <div class="card-header d-flex flex-row">
            <div id="noteTitle" (click)="routeToUpdateNote(note.id)">{{note.title}}</div>
            <div id="deleteIcon" (click)="delete(note.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
            </div>
        </div>
        <div id="noteBody" class="card-body" (click)="routeToUpdateNote(note.id)">
            <p id="noteTextToDisplay" class="card-text text-justify">{{note.description}}</p>
        </div>
    </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>