#takeANoteContainer {
    margin-top: 35px;
}

#takeANoteInput {
    width: 50%;
}

#noteContainer {
    margin-top: 50px;
    padding: 0px;
}

#noteToDisplay {
    max-width: 23%;
    width: 23%;
    margin: 10px;
    height: min-content;
    min-height: min-content;
}

#noteTextToDisplay {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}