.container {
    margin-top: 50px;
    padding: 0px;
}

.card {
    max-width: 23%;
    margin: 7px;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}