<div id="takeANoteContainer" class="container d-flex justify-content-center">
    <input id="takeANoteInput" type="text" class="form-control form-control-lg shadow rounded"
        placeholder="Take a note..." (input)="routeToCreateNote()" (click)="routeToCreateNote()" autofocus>
</div>

<div id="noteContainer" class="container d-flex flex-wrap">
    <div (click)="routeToUpdateNote(note.id)" id="noteToDisplay" class="card shadow mb-4 bg-white rounded"
        *ngFor="let note of notes">
        <div class="card-header col-15 text-truncate">
            {{note.title}}
        </div>
        <div class="card-body">
            <p id="noteTextToDisplay" class="card-text">{{note.description}}</p>
        </div>
    </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>